/*
  Routegadget RG2 Custom CSS
  */

html, body {
	width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  display: block;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

#rg2-header-container, #rg2-footer {
    background: #002bd9;
    color: white;	
    position: relative;
    height: 30px;
}

#rg2-header-container {
    border-bottom: 4px solid black;
    font-size: 20px;
    line-height: 30px;
}

#rg2-course-select, #rg2-name-select {
  float: right;
  min-width: 200px;
  max-width: 200px;
}

#rg2-new-comments {
	margin-top:10px;
	margin-bottom: 10px;
	width: 100%;
	height: 100px;
}

.rg2-ani-row {
    background: silver;
    color: white;	
    position: absolute;
    vertical-align: middle;
    height: 36px;
	  width: 240px;
    right: 0px;
	  border: 4px solid darkgray;
  	z-index: 100;
    line-height: 36px;
}

.row-1 {
    bottom: 120px;
    font-size: 20px;
}

.row-2 {
    bottom: 80px;
}

.row-3 {
    bottom: 40px;
    color: black;
}

.row-4 {
    bottom: 0px;
    color: black;   
}

#rg2-resize-info {
	position: absolute;
  vertical-align: middle;
  padding-right: 10px;   
}

#rg2-header {
	position: absolute;
  vertical-align: middle;
  left: 35px;
}

.rg2-button {
  background: silver;
  color: white;
	float: right;
	width: 30px;
	text-align: center;
	border-left: 4px solid darkgray;
}

.rg2-button:hover {
  color: darkgray;
}

#rg2-footer {
   border-top: 4px solid black;	
   font-size: 0.75em;
   text-align: center;
}

#rg2-about {
   position: absolute;	
   right: 0px;
   padding-right: 20px;
}

#rg2-about-dialog {
	 font-size: 0.75em;
   display: none;
}

.splitstable {
	 font-size: 0.75em;
}

.splitstable th {
  font-weight: bold;
  background-color: white;
}

.splitsname-row {
  background-color: #C0C0C0;
}

.splitstime-row {
  background-color: #E0E0E0;
}


.splitsdistance-row {
  background-color: white;
}


#rg2-clock {
   font-weight: bold;
   font-size: 26px;
   color: black;
 	 text-align: center;
}

#rg2-tails-type {
	padding-left: 5px;
	border-right: 4px solid darkgray;
	width: 100px;
}

#spn-tail-length {
  width: 30px;
}

#rg2-tails-spinner {
  float: right;
  padding-right: 5px;
}

#rg2-container {
	 height: 500px;
   width: 100%;
   position: relative;
   background: silver;
}

#rg2-info-panel {
   font-size: 0.75em;
   height: 99%;
	 width: 360px;
   position: absolute;
   overflow: auto; /* add scroll bars if needed */
	 z-index: 100;
}

#rg2-map-canvas {
   position: absolute;
   z-index: 50;
}

#rg2-animation-names {
   background: rgba(204, 204, 204, 0.75);
   padding : 2px;
   font: 0.75em;
   text-align: left;
}

#rg2-track-names {
   border: 1px solid darkgray;
   background: rgba(204, 204, 204, 0.75);
   padding : 2px;
   position: absolute;
   font:0.75em/0.4em arial;
   top: 50px;
   right: 20px;
   height: auto;
   width: auto;
   z-index: 100;
   max-height: 600px;
   overflow: auto;
}

#rg2-replay-start-control {
  float: left;
  padding-left: 5px;    
}

/* mass start/real time icon colour */
.active {
	color: green;
}
 
.coursemenutable tr, td, th {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

p.showcourse {
	padding-left: 5px;
}

/* apply style to first td or th element in table
/ which is Name in this case
*/
table.resulttable td, 
table.resulttable th {
	padding-left: 10px;
	padding-right: 5px;
	text-align: left;
	width: 70%;
}

table.resulttable td + td,
table.resulttable th + th {
	text-align: right;
	width: 15%;
}

#rg2-result-list .ui-accordion,
#rg2-result-list .ui-accordion-content {
padding: 0;
}

#rg2-button-bar .ui-button-text-icon-primary,
#rg2-button-bar .ui-button-text, 
#rg2-button-bar .ui-button-text-icons,
#rg2-button-bar .ui-button-text {
	font-size: 0.75em;
	padding: .2em .2em .2em 1em;

}

#rg2-clock-slider {
  margin: 10px 15px;
}


#rg2-clock-slider .ui-state-default {
	background: silver;
	border: 4px solid darkgray;
}

#rg2-clock-slider .ui-state-focus {
	outline: none;
}

#rg2-clock-slider .ui-state-hover {
	background: darkgray;
}

#rg2-clock-slider .ui-slider-handle {
width: 15px;
height: 20px;
}

#rg2-tails-spinner .ui-widget-content {
  border: 2px solid darkgray;
}

#rg2-tails-spinner .ui-spinner {
	display: inline;
}

#rg2-tails-spinner .ui-state-default {
	background: silver;
	colour: darkgray;
}

#rg2-tails-spinner .ui-state-active {
	color: silver;
}

#rg2-tails-spinner .ui-spinner input {
  font: 16px Helvetica, Helvetica Neue, Arial;
  margin-bottom: 9px
}

/* spinner icons */
#rg2-tails-spinner .ui-icon,
#rg2-tails-spinner .ui-widget-content .ui-icon {
	background-image: url(../img/ui-icons_222222_256x240.png);
}
#rg2-tails-spinner .ui-widget-header .ui-icon {
	background-image: url(../img/ui-icons_222222_256x240.png);
}
#rg2-tails-spinner .ui-state-default .ui-icon {
	background-image: url(../img/ui-icons_888888_256x240.png);
}
#rg2-tails-spinner .ui-state-hover .ui-icon,
#rg2-tails-spinner .ui-state-focus .ui-icon {
	background-image: url(../img/ui-icons_454545_256x240.png);
}
#rg2-tails-spinner .ui-state-active .ui-icon {
	background-image: url(../img/ui-icons_454545_256x240.png);
}
#rg2-tails-spinner .ui-state-highlight .ui-icon {
	background-image: url(../img/ui-icons_2e83ff_256x240.png);
}

#rg2-tails-spinner .ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(../img/ui-icons_cd0a0a_256x240.png);
}

/* allow close button on dialog to be hidden
 * see http://api.jqueryui.com/dialog
 */
.no-close .ui-dialog-titlebar-close {
display: none;
}

/*
 * prevent selection of objects on the canvas
 */
image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}