# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
rg2log.txt

node_modules
*.local
coverage
.nyc_output
kartat
# Editor directories and files
.vscode/*
!.vscode/extensions.json
cypress/videos
cypress/screenshots
cypress/downloads
website
stats.html
